<div class="container">
  <h2 class="text-xl text-center text-fontcs font-bold">FEED</h2>
  <div class="flex flex-col-reverse">
    <% for(let i = 0; i < posts.length; i++) { %>

    <div
      class="p-3 m-3 bg-containcolor rounded-lg"
      data-id="<%= posts[i]._id %>"
    >
      <h2 class="text-fontcs font-bold my-3">
        <%= String(posts[i].userName.toUpperCase()) %>
      </h2>
      <h4 class="text-white text-xl my-2"><%= posts[i].postMessage %></h4>
      <span class="text-white my-2"
        ><%= moment(posts[i].createdAt).format('hh:mm a MMM DD YYYY')%></span
      >

      <% if(String(posts[i].userId) == String(user._id)) { %>

      <div class="flex content-center my-2">
        <form
          class=""
          action="homepage/likePost/<%= posts[i]._id %>?_method=PUT"
          method="POST"
        >
          <button class="text-white" type="submit">
            <i class="fas fa-thumbs-up text-fontcs m-2"></i>
          </button>
        </form>
        <h3 class="text-white text-lg"><%= posts[i].likes %></h3>

        <form
          action="homepage/deletePost/<%= posts[i]._id %>?_method=DELETE"
          method="POST"
          class=""
        >
          <button class="text-white" type="submit">
            <i class="fas fa-trash text-red-600 m-2"></i>
          </button>
        </form>
      </div>
      <% }%>
    </div>
    <% } %>
  </div>
</div>
