<nav class="left-nav-bar bg-containcolor rounded-r-lg flex flex-col px-8">
  <h3 class="text-fontcs text-3xl my-2 font-bold">
    <a href="/profile"> <%- user.userName.toUpperCase() %> </a>
  </h3>

  <% for(let i = 0; i < socials.length; i++) { %>

 
  <ul class="">
    <li>
      <i class="fas fa-book"></i><a class="text-white" href=""> My Library</a>
    </li>
    <li>
      <i class="fas fa-gift"></i><a class="text-white" href=""> Wishlist</a>
    </li>
    <li>
      <i class="fas fa-users"></i><a class="text-white" href=""> Socials</a>
      <ul class="ml-6">
        <li>
          <i class="fab fa-twitter"> <a href="https://twitter.com/<%= socials[i].twitter %>"
            ><%= (socials[i] === null) ? "none" : socials[i].twitter %></i> </a
          >
        </li>
        <li><i class="fab fa-twitch"> <a href="https://twitch.tv/<%= socials[i].twitch %>"
          ><%= (socials[i] === null) ? "none" : socials[i].twitch %></i>
          </a
          >
        </li>
        <li><i class="fab fa-discord"> <a href="https://discord.com/<%= socials[i].discord %>"
          ><%= (socials[i] === null) ? "none" : socials[i].discord %></i>
          </a
          >
        </li>
        <li><i class="fab fa-instagram"> <a href="https://instagram.com/<%= socials[i].instagram %>"
          ><%= (socials[i] === null) ? "none" : socials[i].instagram %></i>
          </a
          >
        </li>
      </ul>
    </li>
  </ul>
  <h3 class="my-2 text-2xl overflow-x-auto whitespace-nowrap font-bold">
    NEW RELEASES
  </h3>
  <ul>
    <li>
      <i class="fas fa-book"></i><a class="text-white" href=""> My Library</a>
    </li>
    <li>
      <i class="fas fa-book"></i><a class="text-white" href=""> Library</a>
    </li>
    <li>
      <i class="fas fa-book"></i><a class="text-white" href=""> Library</a>
    </li>
    <li>
      <i class="fas fa-book"></i><a class="text-white" href=""> Library</a>
    </li>
  </ul>
  <h3 class="my-2 text-2xl font-bold">TOP GAMES</h3>
  <ul>
    <li><a class="text-white" href=""> Library</a></li>
    <li><a class="text-white" href=""> Library</a></li>
    <li><a class="text-white" href=""> Library</a></li>
    <li><a class="text-white" href=""> Library</a></li>
  </ul>
  <% } %>
</nav>
