<%- include('partials/header') -%> <%- include("partials/dashboard-header.ejs")
-%>
<!-- <div class="text-fontcs flex mt-8"> -->
<div class="h-full ml-16 mt-14 mb-10 md:ml-64">
  <%- include("partials/sidebar.ejs") %>

  <!-- Swiper -->
  <div class="swiper-container mySwiper pb-20">
    <h1 class="text-center text-2xl font-bold p-4  text-fontcs mt-6">Discover</h1>
    <div class="swiper-wrapper h-1/2 pl-5">
      
      <% for(let i = 0; i < games.length; i++) { %>
        
        <div class="shadow-md rounded-lg bg-containcolor swiper-slide flex flex-col">
          <!-- Card Image -->
          <a class="" href="<%- games[i].id %>">
          <img src="<%- games[i].img %>" alt="" class="overflow-cover h-48 w-full">
          <!-- Card Content -->
          <div class="">
            <h3 class="font-medium text-fontcs text-lg my-2 uppercase"><%- games[i].name %></h3>
            <p class="text-justify"></p>
          </a>
          </div>
        </div>
      

      <% } %>
    </div>
    <div class="swiper-pagination "></div>
  </div>
  <!--Swiper Ends-->

    <div
      class="
        container
        flex
        justify-center
        feed
        bg-containcolor
        rounded-lg
        w-4/5
        mt-20
      "
    >
      <form action="homepage/createPost" method="POST">
        <label for="newPost">
          <textarea
            class="mt-6 rounded-md bg-white pl-3 pt-3 w-full"
            name="newPost"
            id="newPost"
            cols="100"
            rows="3"
            spellcheck="false"
          ></textarea>

          <div>
            <button class="btn btn-blue">Post</button>
          </div>
        </label>
      </form>
    </div>

    <div class="feed text-white flex"><%- include("partials/feed.ejs") %></div>
  </div>
</div>

<%- include('partials/footer') -%>


<!-- <div class="
bg-containcolor
overflow-hidden
shadow-lg
rounded-3xl
p-4
transform
transition
duration-500
hover:scale-105"></div> -->








































