<%- include("partials/header") %> <%- include("partials/dashboard-header") %>

<div class="container">
  <% for(let i = 0; i < gameList.length; i++) { %> <%
  if(String(gameInfo[i].user) === user.id) { %> <%
  Object.keys(gameInfo[i].gameList).forEach((key) => { %>
  <div class="game-container flex flex-col">
    <h2 class="text-white"><%= gameInfo[i].gameList[key].title %></h2>
    <img
      src="<%= gameInfo[i].gameList[key].image %>"
      alt="<%= gameInfo[i].gameList[key].title %>"
    />
  </div>
  <% }) %> <% } %> <% } %>
</div>

<%- include("partials/footer") %>
