<%- include('partials/header') -%> <%- include("partials/dashboard-header.ejs")
-%>

<div class="container mt-8 text-white sm:flex flex-row justify-evenly">
  <div class="left-container flex bg-gunmetal rounded-lg p-8">
    <img
      class="w-14 h-14"
      src="http://getdrawings.com/free-icon/cool-avatar-icons-58.png"
      alt=""
    />
    <div class="ml-4 user-information max-w-xs">
      <span class="font-bold block mb-3">@DEMO</span>
      <span class="block mb-3">hi, my name id DEMO</span>
      <p class="block leading-7">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto itaque
        dolore quisquam, accusamus nihil dignissimos sed laudantium vero a
        pariatur.
      </p>
    </div>
  </div>
  <div class="right-container">
    <div class="follow-container bg-gunmetal rounded-lg pl-4 py-8">
      <span>Following: </span>
      <span class="block">#40</span>
    </div>
    <button class="btn btn-blue mt-8">Follow</button>
    <button class="btn btn-blue mt-8">unfollow</button>
  </div>
</div>

<form
  class="flex flex-col"
  action="/followers/<%= user.id %>?_method=PUT"
  method="POST"
>
  <button class="text-white" type="submit">follow</button>
</form>

<% for(let i = 0; i<users.length; i++) { %>
  <h1 class="text-white"><%- users[i].id %></h1>
  <% } %>
  <!-- <form class="" action="/following/<%= user._id %>?_method=PUT" method="POST">
  <button class="btn btn-blue mt-8 text-white" type="submit">follow</button>
</form> -->

  <div class="flex h-full ml-8 mt-14 mb-10 md:ml-64">
    <%- include('partials/feed.ejs') %>
  </div>
  <div class="container form-container mt-10">
    <div
      class="create-container flex justify-center w-1/2 bg-containcolor ml-20"
    >
      <form class="flex flex-col" action="profile/createSocials" method="POST">
        <% if(socials) { %>
        <label class="text-white" for="twitter">TWITTER: </label>
        <input
          type="text"
          name="twitter"
          id="twitter"
          value="<%= socials.twitter %>"
        />
        <label class="text-white" for="twitch">TWITCH: </label>
        <input
          type="text"
          name="twitch"
          id="twitch"
          value="<%= socials.twitch %>"
        />
        <label class="text-white" for="discord">DISCORD: </label>
        <input
          type="text"
          name="discord"
          id="discord"
          value="<%= socials.discord %>"
        />
        <label class="text-white" for="instagram">INSTAGRAM: </label>
        <input
          type="text"
          name="instagram"
          id="instagram"
          value="<%= socials.instagram %>"
        />

        <button class="text-white" type="submit">CREATE</button>

        <% } else { %> <% console.log("socials exists") %> <% } %>
      </form>
    </div>

    <div class="edit-container flex justify-center w-1/2 bg-containcolor ml-20">
      <form
        class="flex flex-col"
        action="/profile/updateSocials/<%= user._id %>?_method=PUT"
        method="POST"
      >
        <label class="text-white" for="twitter">TWITTER: </label>
        <input type="text" name="twitter" id="twitter" />
        <label class="text-white" for="twitch">TWITCH: </label>
        <input type="text" name="twitch" id="twitch" />
        <label class="text-white" for="discord">DISCORD: </label>
        <input type="text" name="discord" id="discord" />
        <label class="text-white" for="instagram">INSTAGRAM: </label>
        <input type="text" name="instagram" id="instagram" />
        <button class="text-white" type="submit">UPDATE</button>
      </form>
    </div>

    <div
      class="
        create-container
        flex flex-col
        justify-center
        w-1/2
        bg-containcolor
        ml-20
      "
    >
      <% for(let i = 0; i < socials.length; i++) { %>

      <span class="text-white">TWITTER: <%= socials[i].twitter %></span>
      <span class="text-white">TWITCH: <%= socials[i].twitch %></span>
      <span class="text-white">DISCORD: <%= socials[i].discord %></span>
      <span class="text-white">INSTAGRAM: <%= socials[i].instagram %></span>
      <% } %>
    </div>
  </div>

  <%- include('partials/footer') -%>
</users.length;>
