


<h2><%= games.name %></h2>
<h2><%= games.description %></h2>
<h2><%= games.metacritic %></h2>
<h2><%= games.released %></h2>
<img src="<%= games.background_image %>" alt="video game image"></img>


